.vertical-align {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
.display-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
body,
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 900px;
}
input {
  outline: none;
  border: none;
}
.overflow-hidden {
  overflow: hidden;
}
a {
  text-decoration: none;
}
.page-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 0px;
  height: 100%;
}
.background-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  flex: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.background-container.large-pad {
  padding: 100px 0px;
}
.background-container.small-pad {
  padding: 50px 0px;
}
.background-container.no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.background-container.half-width {
  width: 50%;
}
.background-container.top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
}
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  flex: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.flex-container.full-height {
  height: 100%;
}
.flex-container.no-margin {
  margin: 0px;
}
.flex-container.no-pad {
  padding: 0px;
}
.flex-container.border-line {
  border-bottom: 2px solid #3c3c3c;
}
.flex-container.left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex: flex-start;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
}
.flex-container.right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  flex: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
}
.flex-container.justify {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex: space-between;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
}
.flex-container.bottom {
  -webkit-align-items: flex-end;
  align-items: flex-end;
  flex: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  -moz-box-align: end;
}
.flex-container.top {
  -webkit-align-items: flex-start;
  align-items: flex-start;
  flex: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  -moz-box-align: start;
}
.flex-container.narrow {
  width: 80%;
}
.flex-container.quarter {
  width: 25%;
}
.flex-container.third {
  width: 30%;
}
.flex-container.no-wrap {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.flex-container.small-pad {
  padding-top: 50px;
  padding-bottom: 50px;
}
.flex-container.large-pad {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  .background-container.half-width {
    width: 100%;
  }
  .flex-container.third {
    width: 80%;
  }
  .flex-container.responsive {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
  }
}
.title-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}
.large-sub-title-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.sub-title-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 35px;
  color: #ffffff;
  text-align: center;
}
.large-content-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
.site-text {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
}
.site-text.small {
  font-size: 14px;
}
.page-label-text {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  text-align: center;
}
.page-label-text-med {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #000000;
  text-align: center;
}
.page-label-text.blue {
  color: #000adc;
}
.page-label-text.white {
  color: #ffffff;
}
.page-label-text-small {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #3c3c3c;
}
.page-label-text-small.black {
  color: #000000;
}
.title-text.bold,
.sub-title-text.bold,
.site-text.bold,
.large-content-text.bold,
.large-sub-title-text.bold {
  font-weight: 700;
}
.title-text.left-text,
.sub-title-text.left-text,
.site-text.left-text,
.large-content-text.left-text,
.large-sub-title-text.left-text {
  text-align: left;
}
.title-text.right-text,
.sub-title-text.right-text,
.site-text.right-text,
.large-content-text.right-text,
.large-sub-title-text.right-text {
  text-align: right;
}
.title-text.black,
.sub-title-text.black,
.site-text.black,
.large-content-text.black,
.large-sub-title-text.black {
  color: #000000;
}
.title-text.gray,
.sub-title-text.gray,
.site-text.gray,
.large-content-text.gray,
.large-sub-title-text.gray {
  color: #3c3c3c;
}
.title-text.blue,
.sub-title-text.blue,
.site-text.blue,
.large-content-text.blue,
.large-sub-title-text.blue {
  color: #000adc;
}
.no-style-list {
  list-style-type: none;
  padding: 0px;
}
.button {
  width: auto;
  padding: 10px 15px;
  margin: 5px;
  background-color: #000adc;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
}
.button.outline {
  background-color: #ffffff;
  border: 2px solid #000adc;
  color: #000adc;
}
.button.outline:hover {
  color: #ffffff;
  background-color: #127aba;
}
.button.small {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #ffffff;
  padding: 5px 10px;
}
.medium-button {
  width: auto;
  padding: 10px 15px;
  margin: 5px;
  background-color: #0d5582;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  outline: none;
}
.large-button {
  padding: 20px 30px;
}
.medium-button:hover,
.button:hover {
  background-color: #127aba;
}
.medium-button.white,
.button.white {
  background-color: #ffffff;
  color: #000adc;
  border: 1px solid #000adc;
}
.medium-button.white:hover,
.button.white:hover {
  background-color: #127aba;
  color: #ffffff;
}
.button.gray {
  background-color: #3c3c3c;
  color: #ffffff;
  border: 1px solid #3c3c3c;
}
.medium-button.green:hover,
.button.green:hover {
  background-color: #4dc75d;
}
.text-link {
  cursor: pointer;
}
.text-link:hover {
  color: #000adc;
}
.text-link.underline {
  text-decoration: underline;
}
.text-link.inline {
  display: inline;
}
.text-input {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  flex: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #000000;
  border: 1px solid #3c3c3c;
  Ignore: a;background-color:rgba(255, 255, 255, 0.75);
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
}
.left-arrow {
  background: url(../images/icons/left-arrow-white.png);
  height: 40px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
